@import "./reset.css";

:root {
  /* Primary Indigo Palette */
  --primary-color: #4f46e5;
  --primary-color-hover: #4338ca;
  --dark-primary-color: #312e81;
  --nav-color-hover: #e0e7ff;

  /* Secondary Accent */
  --secondary-color: #f59e0b;
  --dark-secondary-color: #d97706;

  /* Backgrounds */
  --background-color: #f8fafc;
  --muted-background-color: #eef2ff;
  --border-color: #e5e7eb;

  /* Text */
  --text-color: #1e293b;
  --muted-text-color: #64748b;

  /* Base */
  --white: #ffffff;

  /* Typography */
  --small-font: 1.4rem;
  --medium-font: 1.6rem;
  --large-font: 2.4rem;
  --xl-font: 3.2rem;
  --xxl-font: 4.8rem;

  /* Layout */
  --radius: 8px;
  --section-padding: 10rem 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  flex-direction: column;
}

.container, .buttons, .logo {
  flex-direction: row;
}

.logo {
  position:absolute;
  inset-inline-start: 40px;
  inset-block-start: 20px;

  justify-content: space-between;
  
  img {
    height: 6rem;
  }
  h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-left: 1rem;
  }
}

#sidebanner {
  height: 100svh;
  width: 800px;
  background: no-repeat url("https://images.pexels.com/photos/32348995/pexels-photo-32348995.jpeg");
  background-size: cover;
  box-shadow: 0 2px 10px 0 rgba(100, 116, 139, 0.2);
}

main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: var(--xxl-font);
}

form {
  gap: 20px;
}

label {
  font-weight: 600;
}

input {
  font-size: var(--large-font);
  border-radius: var(--radius);
  padding: 5px 10px; 
  box-shadow: 0 2px 10px 0 rgba(100, 116, 139, 0.2);
}

#forgotpw {
  font-size: var(--small-font);
  margin-top: -18px;
  color: var(--muted-text-color);
}

.buttons {
  justify-content: space-between;
}

#login, #signup {
  padding: 10px 30px;
}

#login input[type=submit]{ /* I need to be specific here or this styles the whole form */
  background-color: var(--primary-color);
  color: var(--white);
  font-size: (var(--medium-font));
}

#login input[type=submit]:hover {
  background-color: var(--primary-color-hover);
}

#signup {
  border-radius: var(--radius);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--white);
  box-shadow: 0 2px 10px 0 rgba(100, 116, 139, 0.2);
}

#signup:hover {
  background-color: var(--nav-color-hover);
}

@media (max-width: 1023px) {
  #sidebanner {
    width: 0px;
  }
}